<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt"
      throwExceptions="true">

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets async="true">
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName=".\Logs\all-${shortdate}.log"
            archiveOldFileOnStartup="true" maxArchiveFiles="3" archiveEvery="Day" archiveAboveSize="10000000" archiveNumbering="Sequence" archiveDateFormat="mmddyy"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName=".\Logs\own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <target xsi:type="File" name="TraceFile" fileName=".\Logs\Controller-Trace-${shortdate}.log" 
            archiveOldFileOnStartup="true" maxArchiveFiles="3" archiveEvery="Day" archiveAboveSize="10000000" archiveNumbering="Sequence" archiveDateFormat="mmddyy"
            layout="${longdate}|${logger}|  ${message}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    
    <target xsi:type="File" name="ControllerDebugFile" fileName=".\Logs\Controller-Debug-${shortdate}.log" 
            archiveOldFileOnStartup="true" maxArchiveFiles="3" archiveEvery="Day" archiveAboveSize="10000000" archiveNumbering="Sequence" archiveDateFormat="mmddyy"
            layout="${longdate}|${logger}|${uppercase:${level}}|  ${message}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <target xsi:type="File" name="ControllerErrorFile" fileName=".\Logs\Controller-Error-${shortdate}.log"
            archiveOldFileOnStartup="true" maxArchiveFiles="3" archiveEvery="Day" archiveAboveSize="10000000" archiveNumbering="Sequence" archiveDateFormat="mmddyy"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <target xsi:type="File" name="RepositoryDebugFile" fileName=".\Logs\Repository-Debug-${shortdate}.log"
            archiveOldFileOnStartup="true" maxArchiveFiles="3" archiveEvery="Day" archiveAboveSize="10000000" archiveNumbering="Sequence" archiveDateFormat="mmddyy"
            layout="${longdate}|${logger}|${uppercase:${level}}|  ${message}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />

    <logger name="ChannelAPI.Controllers.*" levels="Debug,Info" writeTo="ControllerDebugFile" />
    <logger name="ChannelAPI.*" level="Trace" writeTo="TraceFile" />
    <logger name="ChannelAPI.Controllers.*" minLevel="Warn" writeTo="ControllerErrorFile" />
    <logger name="ChannelAPI.Repositories.*" levels="Debug,Info" writeTo="RepositoryDebugFile" />
  </rules>
</nlog>