<div class="panel panel-primary">
    <div class="panel-heading">
        Channel Management
    </div>
    <div class="panel-body">
        <div class="table-reponsive">
            <div class="alert alert-info" role="alert" *ngIf="indLoading">Loading...</div>
            <div *ngIf="channels & channels.length==0" class="alert alert-info" role="alert">No channels found!</div>
            <table class="table table-striped" *ngIf="channels && channels.length">
                <thead>
                    <tr>
                        <th>Service ID</th>
                        <th>Ch#</th>
                        <th>Call Sign</th>
                        <th>Name</th>
                        <th>Logo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let channel of channels">
                        <td>{{channel.strFIOSServiceId}}</td>
                        <td>{{channel.intChannelPosition}}</td>
                        <td>{{channel.strStationCallSign}}</td>
                        <td>{{channel.strStationName}}</td>
                        <td>
                            <img [src]="logo" alt="Logo" *ngIf="!imgLoading; else noImageFound" />
                            <button type="button" class="btn btn-primary" title="Edit" (click)="editChannel(channel.strFiosServiceId)">Edit</button>    
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>