<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    </configSections>
    <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Verbose">
        <listeners>
            <add name="EventLogListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                source="FiOS Health Check" formatter="Text Formatter" log="Application"
                machineName="." traceOutputOptions="DateTime, Callstack" filter="Warning"
                asynchronous="true" />
            <add name="ErrorTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                fileName="error.log" footer="" formatter="Text Formatter"
                header="" rollInterval="Week" rollSizeKB="10240" maxArchivedFiles="5"
                traceOutputOptions="Timestamp, Callstack" filter="Error" asynchronous="true" />
            <add name="DebugTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                fileName="Debug.log" footer="" formatter="Text Formatter"
                header="" rollFileExistsBehavior="Overwrite" rollInterval="Day"
                rollSizeKB="10240" maxArchivedFiles="5" traceOutputOptions="DateTime, ThreadId, Callstack"
                filter="Verbose" asynchronous="true" />
        </listeners>
        <formatters>
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Severity: {severity}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}"
                name="Text Formatter" />
        </formatters>
        <categorySources>
            <add switchValue="All" name="Verbose">
                <listeners>
                    <add name="DebugTraceListener" />
                </listeners>
            </add>
            <add switchValue="Warning" name="ErrorLog">
                <listeners>
                    <add name="ErrorTraceListener" />
                </listeners>
            </add>
            <add switchValue="Error" name="EventLog">
                <listeners>
                    <add name="EventLogListener" />
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events">
                <listeners>
                    <add name="DebugTraceListener" />
                </listeners>
            </allEvents>
            <notProcessed switchValue="Error" name="Unprocessed Category">
                <listeners>
                    <add name="ErrorTraceListener" />
                </listeners>
            </notProcessed>
            <errors switchValue="Warning" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="EventLogListener" />
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>
    <appSettings>
        <add key="SMTPServer" value="smtp.vhe.fiosprod.net" />
        <add key="DefaultEmail" value="FiOS.Operations@ftr.com" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>